version: '2'
services: 
  cadvisor:
    image: google/cadvisor
    ports:
     - "9344:8080"
    volumes:
     - /:/rootfs:ro
     - /var/run:/var/run
     - /sys:/sys:ro
     - /var/lib/docker/:/var/lib/docker:ro
    labels: 
     - "io.rancher.container.hostname_override=container_name"
     - "io.rancher.scheduler.global=true"
  scollector:
    image: wise2c/scollector
    network_mode: host
    depends_on: 
     - bosun
    command:
     - -f
     - cadvisor,cadvisor_host
     - -h
     - bosun:8070
    labels: 
     - "io.rancher.container.hostname_override=container_name"
     - "io.rancher.scheduler.global=true"
     - "io.rancher.container.dns=true"
  bosun:
    image: stackexchange/bosun
    links:
     - fluentd:fluentd
    ports:
     - "8070:8070"
     - "4242:4242"
    volumes_from: 
     - bosun-conf
    labels: 
     - "io.rancher.container.hostname_override=container_name"
     - "io.rancher.sidekicks=bosun-conf"
  bosun-conf:
    image: ymian/monitor:bosun-conf
    labels: 
     - "io.rancher.container.start_once=true"
  fluentd:
    image: ymian/monitor:fluentd
    extra_hosts:
     - "kafka1:10.42.250.1"
     - "kafka2:10.42.250.2"
     - "kafka3:10.42.250.3"
    labels: 
     - "io.rancher.container.hostname_override=container_name"
  grafana:
    image: grafana/grafana
    ports:
     - 3000:3000
    labels:
     - "io.rancher.container.hostname_override=container_name"
    links:
     - bosun